<header class="pgheader">
  <div fxLayout="row wrap" style="padding:10px;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="5" fxLayoutGap="2" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <mat-icon class="cursor-point" (click)="sidenav.toggle()">menu</mat-icon>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false"><img imgSrc="images/blog.png" style="height:44px;width:40px;"></div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <h2 class="blog-head">Blogger</h2>
    </div>
    <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="end end" fxShow="true" fxHide="false"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="end end" fxShow="true" fxHide="false"><button mat-raised-button="" color="warn" (click)=" logoutUser()">Logout</button></div>
  </div>
</header>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column " fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <mat-sidenav-container style="margin-top:60px;" fullscreen="fullscreen">
      <mat-sidenav #sidenav="" class=" sidecont" mode="side" (toggle)="sidenav.toggle()" opened="true">
        <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <mat-list class="list-item">
            <mat-list-item (click)="sidenav.toggle()">
              <div fxLayout="column wrap" class="nav-list" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <mat-icon class="icon-pad">dashboard</mat-icon>
              </div>
              <div fxLayout="column wrap" class="nav-list" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <h3 routerLink="dashboard" class="text-card">Dashboard</h3>
              </div>
            </mat-list-item>
          </mat-list>
          <mat-list class="list-value">
            <mat-list-item (click)="sidenav.toggle()">
              <div fxLayout="column wrap" class="nav-list" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <mat-icon class="icon-pad">view_stream</mat-icon>
              </div>
              <div fxLayout="column wrap" class="nav-list" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <h3 routerLink="viewpage" class="text-card">View Blogs</h3>
              </div>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="isManager" class="list-value">
            <mat-list-item (click)="sidenav.toggle()">
              <div fxLayout="column wrap" class="nav-list" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <mat-icon class="icon-pad">create</mat-icon>
              </div>
              <div fxLayout="column wrap" class="nav-list" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <h3 routerLink="post" class="text-card">Create Post</h3>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-sidenav>
      <router-outlet></router-outlet>
    </mat-sidenav-container>
  </div>
</div>