<div fxLayout="column wrap" class="n1" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <h3 class="cont-header">Author: {{viewData.author | titlecase}}</h3>
      <p class="date-field">Posted On: {{viewData.createddate | date:&apos;dd/MMM/yyyy HH:MM:SS&apos;}}</p>
    </div>
  </div>
  <form>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-form-field class="n2"><input matInput="" [(ngModel)]="dm.userpost.title" name="userpost.title" required></mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-form-field class="n3"><textarea matInput="" [(ngModel)]="dm.userpost.body" name="userpost.body" required></textarea></mat-form-field>
      </div>
    </div>
  </form>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-button="" class="mat-color" (click)="updateview()">update</button></div>
  </div>
</div>