<div fxLayout="column wrap" style="background-color: #e8e8de;" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" class="post-content" fxFlex="40" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <h3 style="margin-right: -340%;  ">Create Post</h3>
    </div>
  </div>
  <form class="post-content">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <p style="font-family:verdana;">Title:</p>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-form-field><input matInput="" [(ngModel)]="dm.userpost.title" name="userpost.title" required></mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <p style="font-family:verdana;">Description:</p>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-form-field style="width:450px; "><textarea matInput="" [(ngModel)]="dm.userpost.body" name="userpost.body" required></textarea></mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" style="        margin-right: -79%;  " fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-raised-button="" class="mat-color" (click)=" CreatePost()">Post</button></div>
    </div>
  </form>
</div>