<div fxLayout="column wrap" style="padding:16px;" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <mat-form-field style="width: 30%;padding-left:800px;">

    <input matInput="" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div>
    <table mat-table="" [dataSource]="dataSource" class="mat-elevation-z8" matSort="" style="width: 90%;">

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b>Title</b></th>
        <td mat-cell="" *matCellDef="let element" style="height: 75px;"> {{element.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="body">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b>Description:</b></th>
        <td mat-cell="" *matCellDef="let element" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100px;display:block;padding:32px;" class="text"> {{element.body}} </td>
        <td>
          <mat-icon>home</mat-icon>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b>Author</b></th>
        <td mat-cell="" *matCellDef="let element"> {{element.author}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="createddate">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b>Created Date</b></th>
        <td mat-cell="" *matCellDef="let element"> {{element.createddate | date: &apos;dd/MMM/yyyy HH:mm:ss&apos;}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b>Likes</b></th>

        <td mat-cell="" *matCellDef="let element;">
          <mat-icon matTooltip="Likes" (click)="userlikes(element)">thumb_up</mat-icon>{{element.likes.length}}
        </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header="">
          <mat-icon matTooltip="Comments">speaker_notes</mat-icon>
        </th>
        <th *ngFor="let element of showview;let i =index;"></th>

        <td mat-cell="" *matCellDef="let element"> {{element.comments.length}}</td>
      </ng-container>


      <ng-container matColumnDef="share">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header="">
          <mat-icon matTooltip="Share" (click)="mail(_id, i)">share</mat-icon>
        </th>
        <td mat-cell="" *matCellDef="let element;let i =index;" (click)="mail(element)">Share</td>

      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b> View More </b></th>
        <td mat-cell="" *matCellDef="let element;">
          <mat-icon matTooltip="View More" (click)="UpdateEvent(element)">forward</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell="" *matHeaderCellDef="" mat-sort-header=""><b *ngIf="isManager"> Delete</b> </th>
        <td mat-cell="" *matCellDef="let element;">
          <mat-icon *ngIf="isManager" matTooltip="Delete" (click)="deleteEvent(element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row="" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row="" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>