/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.login-card .mat-card-image:first-child {
    margin-top:0 !important
}
.container{
    background-image: linear-gradient(to left bottom, #051937, #3e285d, #832c72, #c82c6f, #ff4555);
}

.primary-red-btn {
    background-color: #ee1c22;
    color: white;
}
.pgheader{
    color:white;
    background-color:#555;
    height:60px;
   
}
.btn1{
   color: black;
   background-color:white; 
   border-radius: 2px;
   font-weight: bolder;
}
.btn2{
   color: white;
   font-weight: bolder;
   background-color: #2db300; 
   border-radius: 2px;
   
}
.mat-elevation-z8{
    margin: 60px;
    
}
.mat-filter{

float: right;
}
.blog-body {
 /* font-family: Comic Sans MS, cursive, sans-serif;
  cursor: pointer;
  white-space: nowrap; 
  //display:inline-block;
  overflow: auto;
  width: 50px; 
  height:100px;  
  text-align:justify;
  text-overflow: ellipsis; */
  background-color: #eee;
  width: 200px;
  height: 50px;  
  overflow: scroll;
  
}
.mat-form-field-underline ng-tns-c6-1 ng-star-inserted
{
    height:0px;
}

.myclass {
    height: 20px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
}
.nav-list{    
    color: white;
}

.mat-card-title {
     color:#0066ff;
     font-size: 18px !important;
     font-weight: 1000;
    
}
.blog-head{
    text-shadow: 0px 1px 43px #ffffff;
    padding-left: 10px;
}
.icon-pad{
    padding:10px;
    background-repeat: no-repeat;
    display: inline-block;fill: currentColor;
    height: 25px;
    width: 16px;
}

.sidecont{
    width:220px;
    background-color:#555 !important;
    color:white;
    border-top: double;
    outline-color:white !important;
}

tr:hover {background-color: #f5f5f5;
}


.cursor-point{
    cursor: pointer;
}
.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.cont-header{
    font-family: 'Poppins', sans-serif;
    font-size: 28px!important;
    margin-bottom: 30px;
    margin-left: 20px;
    color: #3e3a3a;;
    font-weight: bolder;
    line-height: 1.1;
}
.cont-body{
    font-size: 20px!important;
    font-weight: 300!important;
    color: #6c7279!important;
    margin: 0 0 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-family: "Poppins", Sans-serif;
    text-align: justify;
}
.date-field{
    color: #69717b;;
    font-size: 18px !important;
    font-weight: 1000;
    margin-left: 20px;

}
.comment-disp{
     font-family: "Poppins", Sans-serif;
     text-align: justify;
     font-size: 18px!important;
}

.mat-table {
    background: #e0e0e0;
}
.post-content{
    margin:30px;
    width:50%
}

.mat-card {
    color: rgba(73, 61, 154, 0.87);
    margin: 10px;border: 1px solid black;
    box-shadow: 5px 5px #f9f9f9;
    border-radius: 5px; 
}

.text-card{
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: unset;
    font-family: serif;
}

.list-item{
    background-color: #555;
    margin-left:-8%;
    }

 .list-value{
    background-color: #555;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: inherit;
    margin-left:-8%;
 }
.mat-color{
    background-color: #5d75b9;
    color: white;  
    }

.mat-col{
    background-color: #e2e2ea;
}    

.mat-exp{
    width: 100%;
    margin: 20px;
    background-color: #eae6e3;
}

.val-header{
    margin:10px;
    box-shadow: outset 0 3px 20px 6px rgba(0,0,0,.2) ;
    border-style: groove;
    color: black;
}
.n1{
    width: 100%;
    border-style: ridge;
    padding: 16px;
    background-color: #e8e4e4;
}

.n2{
    width:70%;
    color:black;
} 
 
.n3{
    color:black;
        width: 690px;   
          height: 100px;
}   