<div fxLayout="column wrap" class="mat-col" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <h3 class="cont-header">{{user.title | uppercase }}</h3>
      <p class="date-field">{{user.createddate| date: &apos;dd/MMM/yyyy HH:mm:ss&apos;}}</p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <h4 class="cont-body">{{user.body}}</h4>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-button="" class="mat-color" *ngIf="isManager" (click)="updateview(user)">Edit</button></div>
  </div>
</div>
<div fxLayout="column wrap" style="border-radius:20px;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <mat-expansion-panel class="mat-exp" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>

        <mat-icon></mat-icon>
        <h3>Leave a Comment</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card style="width:60%;margin:20px;box-shadow: inset 0 3px 20px 6px rgba(0,0,0,.2) ;">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
            <mat-form-field><textarea matInput="" [(ngModel)]="dm.comments.comments" name="comments.comments" placeholder="Add comments"></textarea></mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button="" class="mat-color" (click)="AddComments(user)">Add</button></div>
        </div>
      </div>
    </mat-card>
  </mat-expansion-panel>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngFor="let element of commentarr">
  <mat-card class="val-header">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h5><b>{{element.commentor}}</b> Commented: {{element.comments}}</h5>
        </div>
      </div>
    </div>
  </mat-card>
</div>