<div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <h2 style="font-family:Lucida Sans Unicode,Lucida Grande, sans-serif;">Stats</h2>
  </div>
</div>
<div fxLayout="row wrap" style="font-family:Lucida Sans Unicode,Lucida Grande, sans-serif;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" style="width:33%" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-card class="mat-card">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h3> Likes :</h3>
          <h3>{{likesCount}}</h3>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-progress-bar mode="determinate" value="{{likesCount}}"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column wrap" style="width:33%" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-card class="mat-card">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <h3>Comments:</h3>
          <h3>{{total}}</h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-progress-bar mode="determinate" value="{{total}}"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column wrap" style="width:33%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-card *ngIf="isManager" class="mat-card">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <h3>Posts:</h3>
          <h3>{{viewData.length}}</h3>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
        <mat-progress-bar mode="determinate" value="{{viewData.length}}"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</div>